# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos
.venv/
venv/
env/
.Python

# VCS / IDE
.git/
.gitignore
.vscode/
.idea/

# Tests / caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales locales
*.log
*.tmp
*.swp
.DS_Store

# Directorios que no queremos en la imagen
temp/
